---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
import "../styles/markdown.css"
const { frontmatter } = Astro.props;
---
<meta charset="utf-8" />
<BaseLayout >
  <div class="markdown-body">
    <h1>{frontmatter.title}</h1>
    <p>作者：{frontmatter.author}，发表于：{frontmatter.pubDate.toLocaleDateString('zh-CN', { year: 'numeric', month: 'long', day: 'numeric' })}</p>
    <p><em>{frontmatter.description}</em></p>
    <div class="tags">
      {frontmatter.tags.map((tag: any) => (
        <span class="tag">
            <a href={`/tags/${tag}/`}>{tag}</a>
        </span>
      ))}
    </div>

    <img src={frontmatter.image.url}  alt={frontmatter.image.alt} />
    <slot />
  </div>
</BaseLayout>

<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>